body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #623098, #501590, #470a89);
    color: white;
    text-align: center;
}


h1 {
    font-size: 3rem;
    margin: 0;
}

p {
    font-size: 1.5rem;
}